<%= devise_error_messages! %>

<h2>Sign up</h2>

<div class="panel panel-default register-card">
  
  <div class="panel-body">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-group">
        
        <label for="exampleInputEmail1" style="color:#777;">Email address</label>
        
        <%= f.email_field :email, autofocus: true, class:"form-control", id:"exampleInputEmail1", placeholder:"Email" %>
      
      </div>

      <div class="form-group">
        
        <label for="exampleInputPassword1" style="color:#777;">Password</label>
        
        <% if @minimum_password_length %>

          <em>(<%= @minimum_password_length %> characters minimum)</em>
        
        <% end %><br />
        
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"exampleInputPassword1", placeholder:"Password"  %>
      
      </div>

      <div class="form-group">
        
        <label for="exampleInputConfirmPassword1" style="color:#777;">Confirm Password</label>
        
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"    exampleInputConfirmPassword1", placeholder:"Confirm Password" %>
      
      </div>

      <%= f.submit "Sign up", class:"btn btn-default" %>
  
    <% end %>
    
  </div>

</div>

<%= render "devise/shared/links" %>
