<div id="navbar-full">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">

      <div class="container">

        <div class="navbar-header">

          <%= link_to 'JobAlert', root_path, class:"navbar-brand" %>

        </div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
          	
          	<% if user_signed_in? %>
            
            	<li><a href="#"><%= current_user.email %></a></li>

          		<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
						
						<% else %>
						
							<li><%= link_to 'Sign Up', new_user_registration_path %></li>
							
							<li><%= link_to "Login", new_user_session_path %></li>
						
						<% end %>
          
          </ul>
        
        </div>

      </div><!-- /.container-fluid -->

    </nav>

</div><!--  end navbar --> 